body {
    font-family: sans-serif;
    background: #f9f9f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    display: block;
    margin: 25px;
    color: #444;
    font-family: 'Open Sans';
}

.tag:hover {
    cursor: pointer;
}

/*==========
    NAV 
==========*/

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: none;
    padding: 10px;
    z-index: 999;
    box-shadow: none;
    transition: all 0.3s;
}

.bold {
    font-weight: bold;
}

nav ul {
    float: right;
}

nav ul li, #logo {
    display: inline-block;
    padding: 10px;
    color: #999;
}

/*==========
    HEADER 
==========*/

header {
    position: relative;
    padding-top: 65px;
    background-color: #34495e;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239C92AC' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
    height: 70vh;
    width: 100%;
    overflow: hidden;
    box-sizing: initial;
}

header img {
    position: absolute;
    bottom: -15px;
    right: 70px;
    z-index: 1;
}

header h1 {
    font-family: 'Quicksand';
    font-size: 50px;
    font-weight: 100;
}

header p {
    font-size: 20px;
    padding: 10px 0;
    font-family: 'Open Sans';
    line-height: 1.5;
}

header button {
    margin: 5px 10px 0 0;
    border: none;
    background: #16a085;
    border: 2px solid #16a085;
    padding: 10px 15px;
    border-radius: 20px;
    color: #fcfcfc;
    box-shadow: 0 5px 10px 3px rgba(0,0,0,0.1);
    transition: all 0.3s;
}

header button.outline {
    background: none;
}

header button:hover {
    background: #118972;
    border-color: #118972;
    cursor: pointer;
}

/* header span:not(.headerTxt) {
    background: #8e44ad;
} */

.headerTxt {
    position: absolute;
    color: #fff;
    text-shadow: 0 1px 5px rgba(0,0,0,0.2);
    width: 45%;
    top: 55%;
    transform: translateY(-50%);
    left: 70px;
    z-index: 2;
}

.categories {
    background: #eee;
    text-align: center;
    color: #555;
}

.categories span {
    display: inline-block;
    height: 100%;
    margin: 0 10px;
    padding: 15px 15px;
}

.categories span:hover {
    background: #999;
    color: #fcfcfc;
}

/*==========
    MAIN 
==========*/

main {
    padding: 0 50px;
    position: relative;
}

main section {
    overflow: auto;
    margin: 25px 0;
}

main .box {
    float: left;
    width: 23%;
    margin: 10px 1%;
    padding: 15px;
    background: #fff;
    border-bottom: 4px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 0 3px 2px rgba(0,0,0,0.05);
    text-align: center;
    color: #555;
}

main .box img {
    display: block;
    width: 100%
}

main .box h4 {
    margin: 10px 0;
}

main .box button {
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background: #2980b9;
}

main .box button:hover {
    cursor: pointer;
}

main .box a {
    text-decoration: none;
}

main .box .tag {
    display: inline-block;
    background: #eee;
    color: #777;
    margin: 5px;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 12px;
}

/*==========
    RESULTS 
==========*/

#result {
    overflow: auto;
}